<div class="footer_content">
    <a href="{{ site.url }}/atom.xml"><img src="{{ site.url }}/assets/site/feed-icon.png" alt="Subscribe to feed"></a><br/>
    Twenty of Time by <a href="https://www.frisovandijk.com" TARGET="_blank">Friso van Dijk</a><br/>
    <a href="{{ site.url }}/pages/privacy-policy/">Privacy Policy</a>
</div>